body {
    width: 100%;
    height: 100%;
    color: black;
    h1 {
        font-family: 'Merriweather', serif;
    }
    #taskInput {
        width: 40%;
    }
    a {
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
    }
    #taskRow {
        border-bottom: 1px solid rgba(175, 176, 177, 0.215);
    }
    #taskName,
    #taskDate {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    #taskDate {
        font-size: 11px;
        color: dimgrey;
    }
}