<form action="/edit" method="post">

    <input type="text" name="name" value="<%= task.name %>">
    <input type="text" name="id" value="<%= task._id %>" hidden>
    <button type="submit">Update</button>


</form>